*{
    margin: 0px;
    font-family: monospace;
}

body{
    background-color: rgb(194, 223, 233);
}
header{
    text-align: center;
    margin-top: 50px;
    font-family: monospace;
    font-size: 1.6em;
    color: rgb(79, 71, 71);
}
main{
    background-color: white;
    max-width: 600px;
    height: 383px;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
}

.container{
    background-color: rgb(33, 96, 75);
    width: 250px;
    height: 320px;
    border-radius: 10px;
    margin-right: 25px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

#valortip {
    font-size: 2em;
    color: rgb(128, 208, 181);
    font-family: monospace;  
    padding-top: 19px;
    padding-left: 19px;
    margin-top: 20px;
}
#valortotal{
    font-size: 2em;
    color: rgb(128, 208, 181);
    font-family: monospace;
    padding-top: 19px;
    padding-left: 19px;
    margin-top: 20px;
}
#nometip{
    font-size: 0.9em;
    color: rgb(185, 193, 190);
    font-family: monospace;
    width: 100px;
    padding-top: 19px;
    padding-left: 19px;
    margin-top: 20px;

}
#nometotal {
    font-size: 0.9em;
    color: rgb(185, 193, 190);
    font-family: monospace;
    width: 100px;
    padding-top: 19px;
    padding-left: 19px;
    margin-top: 20px;
}


.botao{
    background-color: rgb(128, 208, 181);
    width: 220px;
    height: 20px;
    padding: 9px;
    text-align: center;
    border-radius: 5px;
    margin: 100px 15px 15px 15px;
    color:rgb(33, 96, 75) ;
    font-family: monospace;
    font-size: 1.2em;

}
.cont2{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-right: 25px;
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
}
.conttip{
    width: 287px;
    height: 150px;
    margin-right: 2px;
    margin-left: 15px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0px 10px;
}

.tip{
    background-color: rgb(33, 96, 75);
    width: 73px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 1.3em;
}

.tip-selected {
    background-color: rgb(128, 208, 181);
    color:rgb(33, 96, 75);
}

#custom{
    background-color: rgba(33, 96, 75, 0.207);
    color: rgb(33, 96, 75);
}

#seletip{
    width: 250px;
    padding: 10px 0px 10px 0px ;
    color: rgb(126, 121, 121);
}
.conttip2{
    width: 287px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px 0px 10px 0px ;
    gap: 0px 10px;
    height: 90px;
    font-weight: bold;
    text-shadow: 1px black;
}
.bill{
    width: 250px;
    padding: 10px 0px 10px 0px ;
    color: rgb(126, 121, 121);
}
.conttotal{
    width: 287px;
    height: 50px;
    margin-right: 2px;
    margin-left: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 10px;
}
.billnum{
    width: 250px;
    height: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(33, 96, 75, 0.207);
    color: rgb(33, 96, 75);
    border-radius: 5px;
}

.pessoatotal{
    width: 287px;
    height: 50px;
    margin-right: 2px;
    margin-left: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0px 10px;
    margin-bottom: 10px;
}
.numpessoas{ 
    width: 250px;
    padding: 10px 0px 10px 0px ;
    color: rgb(126, 121, 121);
}
.pessoas{
    width: 250px;
    height: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(33, 96, 75, 0.207);
    color: rgb(33, 96, 75);
    border-radius: 5px;
}
#inputcustom{
    width: 30px;
}
.tip:visited{
    background-color: rgb(128, 208, 181);
    color:rgb(33, 96, 75) ;
}
.tip:hover{
    background-color: rgb(128, 208, 181);
    color:rgb(33, 96, 75) ;
}
