*{
    margin: 0px;
}

body{
    background-color: rgb(194, 223, 233);
}
header{
    text-align: center;
    margin-top: 50px;
    font-family: monospace;
    font-size: 1.6em;
    color: rgb(79, 71, 71);
}
main{
    background-color: white;
    max-width: 600px;
    height: 300px;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container{
    background-color: rgb(33, 96, 75);
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-right: 25px;
    display: flex;
    flex-wrap: wrap;

}

#valortip {
    font-size: 2em;
    color: rgb(128, 208, 181);
    font-family: monospace;  
    padding-top: 19px;
    padding-left: 19px;
    margin-top: 20px;
}
#valortotal{
    font-size: 2em;
    color: rgb(128, 208, 181);
    font-family: monospace;
    padding-top: 19px;
    padding-left: 19px;
    margin-top: 20px;
}
#nometip{
    font-size: 0.9em;
    color: rgb(185, 193, 190);
    font-family: monospace;
    width: 100px;
    padding-top: 19px;
    padding-left: 19px;
    margin-top: 20px;

}
#nometotal {
    font-size: 0.9em;
    color: rgb(185, 193, 190);
    font-family: monospace;
    width: 100px;
    padding-top: 19px;
    padding-left: 19px;
    margin-top: 20px;
}


.botao{
    background-color: rgb(128, 208, 181);
    width: 220px;
    height: 20px;
    padding: 9px;
    text-align: center;
    border-radius: 5px;
    margin: 60px 15px 15px 15px;
    color:rgb(33, 96, 75) ;
    font-family: monospace;
    font-size: 1.2em;

}



